body{
    margin: 0;
    padding: 0;
    background-color: #F0DBAF;
}
h2{
    text-align: center;
    background-color: #7ED7C1;
    border: 1px solid rgb(224, 223, 223);
    padding: 15px;
    margin: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
}